data/
dataClassification/
dataSegmentation/
models/
saved_images/
testing/
testingResultsSegmentation/
dataset.txt
my_checkpoint.pth.tar
model_office.pth
vecteezy_white-old-building-wall-with-a-crack_1623873.mp4